{% extends 'base.html' %}

{% block content %}
  <br>
  {% for review in reviews %}
    <a href="{% url 'movies:detail' review.movie.pk %}"><h3>{{ review.movie.title }}</h3></a>
    
    {{ review.score }} | {{ review.content }}
    <hr>
  {% endfor %}

  {% with followings=auth_user.followings.all followers=auth_user.followers.all %}
    <h3>
    팔로잉: {{ followings|length }} |
    팔로워: {{ followers|length }}명
    </h3>
    <hr>
    {% if user != auth_user %}
      {% if user in followers %}
        <a href="{% url 'accounts:follow' auth_user.pk %}" role="button">UnFollow</a>
      {% else %}
        <a href="{% url 'accounts:follow' auth_user.pk %}" role="button">Follow</a>

      {% endif %}
    {% endif %}
  {% endwith %}
  <a href="{% url 'accounts:index' %}">BACK</a>
{% endblock content %}